@{
    ViewBag.Title = "Home Page";
}

<hr />
<div>
    @Html.ActionLink("Books", "Index", "Books", null, null)
</div>
<hr />
<div>
    @Html.ActionLink("Categories", "Index", "Categories", null, null)
</div>
<hr />
<div>
    @Html.ActionLink("Report", "Index", "Report", null, null)
</div>